.sectionContainer{
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border-top: 1px solid white;
    background-color:  rgba(225,166,173, 0.4);
}


.contactContainer{
    display: flex;
    flex-direction: column;
    width: 95vw;
    min-height: 100vh;
    margin-top: 12vh;
    padding: 10px;
    text-align: center;
    align-items: center;
    position: relative;
}


.contactContainer h1{
    font-size: clamp(1.8rem, 2.6vw, 2rem);
    color: #89CFF0;
}


.contactContainer p{
    text-align: justify;
    line-height: 30px;
    margin: 30px 0px;
}


.dataprivacyLink{
    color: #89CFF0;
    text-decoration: none;
    padding: 5px;   
}


.dataprivacyLink:hover{
    transition: 0.4s ease-in-out;
    color: darkblue;
}


.formContainer{
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
}

.formContainer label{
    width: 100%;
    margin: 18px 0px;
    text-align: center;
    font-size: 1.2rem;
}






.input:focus{
    border: none;
    outline: none;
    transition: 0.4s ease;
    font-size: 1.5rem;
}

.formContainer textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
}


.formContainer textarea:focus{
   outline: none;
}



.link{
    text-decoration: none;
    color: #89CFF0;
    letter-spacing: 1px;
    transition: 0.4s ease;
}

.link:hover{
    color: darkblue;
}








.formContainer textarea{
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
}



.formContainer button{
    border: none;
    margin: 20px;
    width: 300px;
    height: 50px;
    font-size: 1.2rem;
    color: #89CFF0;
    font-weight: bolder;
    box-shadow: 0px 3px 1px #89CFF0;;
    border-radius: 4px;
    background-color: hsla(182, 25%, 100%, 0.5);
}





.formContainer button:hover{
    transition: 0.4s ease;
    cursor: pointer;
    background-color: #89CFF0;
    box-shadow: 0px 3px 1px white;
    color: white;
    font-size: 1.25rem;
}


.formInfos{
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: red;
    text-align: justify;
}







@media screen and (max-width: 1400px){


    .formContainer{
        transition: 0.5s ease;
        width: 95vw;
    }

    .contactContainer p{
          padding: 10px;
    }
  
   
    
}



@media screen and (max-width: 500px){

     .formInfos{
         word-break: break-all;
     }
}






@media screen and (max-width: 300px){
    
    .formInfos{
        padding: 10px;
    }

    .formContainer button{
        width: 250px;
    }
}

