

.headerContainer{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center

}

.headerImgContainer{
    overflow: hidden;
    width: 100vw;
}

.headerImage{
    width: 100vw;
    height: 110vh;
  
}

@media  screen and (max-width: 1200px) {
  
    .headerImage{
        transition: 0.4s ease;
        width: 1500px;
        z-index: 0;
        position: relative;
        top: 12vh;
        left: -200px;

    }
    
}

@media  screen and (max-width: 1000px) {
  
    .headerImage{
        transition: 0.4s ease;
        left: -250px;

    }
    
}

@media  screen and (max-width: 600px) {
  
    .headerImage{
        transition: 0.4s ease;
        left: -300px;
    }

}

.headerTitle{
    position: relative;
    top: 5px;
    font-size: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1000px){
    .headerTitle{
        font-size: 1.3rem;
        left: 20px;
        top: 0;
    }
}


.headerNavigation{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: #ffffff80;
   
}

.headerNavigation h1{
    width: 20vw;

}