

.error{
    width: 100%;
    border: none;
    height: 30px;
    padding: 5px;
    transition: 0.4s ease;
    font-size: 1.2rem;
    border-bottom: 2px solid hsl(16, 79%, 60%);;
    background-color: hsla(16, 79%, 60%, 0.6);
}

.error:focus{
    outline: none;
    cursor: pointer;
}



.input{
    width: 100%;
    border: none;
    height: 30px;
    padding: 5px;
    transition: 0.4s ease;
    font-size: 1.2rem;
    background-color:transparent;
    border-bottom: 1px solid black;
}


.input:focus{
    outline: none;
    transition: 0.4s ease;
    font-size: 1.5rem;
}
