
/* #1 ABOUT ME */
/* #2 MY WORK */
/* #3 CONTACT */



.sectionContainer{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border-top: 1px solid white;
}


.aboutMeContainer, .myWorkContainer, .contactContainer{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    margin-top: 12vh;
    padding: 10px;
    text-align: center;
}


.aboutMeTextWrapper{
    display: flex;
    flex-direction: column;

}



.aboutMeImg{
    width: 50vw;
    background-image: url('../Shaana/IMG_0175.jpg');
    background-size: cover;
    object-fit: cover;
    margin: 0px 20px 0px 10px;
}




.aboutMeTextContainer{
    padding: 10px;
    width: 50vw;
    margin-bottom: 50px;
}



@media screen and (max-width: 1400px){
    .aboutMeImg{
        transition: 0.4s ease;
        background-position: -100px 0px;
        width: 50vw;
        margin: 0 20px;
    }

    .aboutMeTextContainer{
        transition: 0.4s ease;
        width: 40vw;
    }
}

@media screen and (max-width: 1250px){

    .aboutMeContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .aboutMeImg{
        background-position: 0;
        height: 800px;
        transition: 0.4s ease;
        width: 100vw;
        background-position: 0px -200px;
    }

    .aboutMeTextContainer{
        transition: 0.4s ease;
        width: 100vw;
    }

    .aboutMeContainer p{
        margin: 100px;
        padding: 0px 20px;
    }
}




@media screen and (max-width:1000px){
    .aboutMeTextContainer{
        padding: 50px;
    }

    .aboutMeImg{
        background-position: 0px -100px;
    }
}

@media screen and (max-width: 600px){
    .aboutMeImg{
        background-position: 0px;
    }
}

.aboutMeTextContainer p{
    line-height: 30px;
    text-align: center;
    margin: 40px 0px;
}
/*
.aboutMeImg{
    transition: 0.4s ease;
    border: 3px solid gold;
    background-position: 0px -150px;
}

*/














/* MY WORK */

.myWorkContainer{
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.myWorkTitle, .myWorkTitleTwo{
    text-align: center;
    font-size: 1.2rem;
    height:60px;
    padding: 10px;
}

.myWorkTitleTwo{
    margin-top:50px;
}





.myWorkTitle span{
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 5px;
    font-size: 1.5rem;
    color: hsla(16, 79%, 50%, 1);
    cursor: pointer;
}


.myWorkWrapper, .myWorkWrapperSwitch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
    min-height: 1000px;
}

.workDetailsText, .workDetailsTextTwo{
    width: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    font-size: 1.3rem;
   
}


.workDetailsText h1, .workDetailsTextTwo h1{
    text-align: center;
    padding: 20px;
    color: hsla(16, 79%, 50%, 1);

}

.workDetailsText p, .workDetailsTextTwo p{
    width: 100%;
    z-index: 10;
    line-height: 40px;
    text-align: center;
    font-weight: bolder;
    min-height: 220px;
    display: flex;
    align-items: center;
    margin: -5px 0px;
}



.care, .careTwo, .careThree, .careFour{
    width: 47%;
    margin: 40px;
    box-shadow: 0px 0px 10px grey;
    height: 100vh;
    width: 50vw;
}

.care{
    position: relative;
    left: 10px;
    background-image: url('../Shaana/example.jpg');
    background-size: cover;
}

.careTwo{
    position: relative;
    right: 15px;
    background-image: url('../Shaana/example.jpg');
    background-size: cover;
}


.careThree{
    background-image: url('../Shaana/example.jpg');
    background-size: cover;
}

.careFour{
    background-image: url('../Shaana/example.jpg');
    background-size: cover;
}

.workDetailsText, .workDetailsTextTwo{
    align-items: center;
}





.pBottom{
    position: relative;
    top: -40px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}


.contactLink{
    border: none;
    text-decoration: none;
    color:hsl(16, 79%, 60%);
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.contactLink:hover{
    transition: 0.4s ease;
    color:hsla(16, 79%, 40%, 1);
    letter-spacing: 2px;
}





@media screen and (max-width: 1500px){

    .myWorkWrapper, .myWorkWrapperSwitch{
        flex-direction: column;
        align-items: center;
    }

    .myWorkWrapperSwitch{
        flex-direction: column-reverse;
    }

    .care, .careTwo, .careThree, .careFour{
        transition: 0.4s ease;
        width: 80vw;
        margin: 20px 40px;
    }

  
    .workDetailsText{
        transition: 0.4s ease;
        margin-top: -50px;
    }

    


    .workDetailsText, .workDetailsTextTwo{
        width: 100vw;
    }

    .workDetailsText p, .workDetailsTextTwo p{
        transition: 1s ease;
        width: 80vw;
        line-height: 25px;
        margin: -20px 0px;
       
    }



   
}





@media screen and (max-width: 900px){
    .myWorkWrapper, .myWorkWrapperSwitch{
        width: 100%;
        display: flex;

    
    }

    .workDetailsText, .workDetailsTextTwo{
        width: 100%;
    }

    .care, .careThree{
        border-radius: 0;
        transition: 0.4s ease;
        height: 68vh;
        width: 100%;
        position: relative;
        left: 0;
    }

    .workDetailsText p, .workDetailsTextTwo p{
        margin: 10px;
        width: 90vw;
        transition: 0.4s ease;
        line-height: 30px;
    }
  
}





@media screen and (max-width: 830px){



    .myWorkTitle{
        transition: 0.4s ease;
        height: 80px;
        margin-top: 25px;
        width: 99vw;
        line-height: 30px;
    }

    .myWorkTitle span{
        padding: 2px;
    }

    .careThree{
        transition: 0.4s ease;
    }


    .contactLink{
        position: relative;
        color:hsla(16, 79%, 50%, 1);
    }
  
}











/* CONTACT */

.contactContainer{
    flex-direction: column;
    align-items: center;
}

.contactContainer p{
    text-align: center;
    line-height: 25px;
    margin: 30px 0px;
}

.dataprivacyLink{
    color: hsl(16, 79%, 60%);
    font-size: 1.1rem;
    text-decoration: none;
    padding: 5px;
}

.dataprivacyLink:hover{
    transition: 0.4s ease-in-out;
    font-size: 1.13rem;

}

.formContainer{
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
}

.formContainer label{
    width: 100%;
    margin: 18px 0px;
    text-align: center;
    font-size: 1.2rem;
}





.input:focus{
    border: none;
    outline: none;
    transition: 0.4s ease;
    font-size: 1.5rem;
}

.formContainer textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
}


.formContainer textarea:focus{
   outline: none;
}

.checkboxContainer{
    margin: -20px 0px 20px 0px;
    display: flex;

}

.checkboxContainer p{
    margin-left: 5px;
}





@media screen and (max-width: 1500px){

    .dataPrivacy{
        position: relative;
        top: 30px;
        left: 40px;
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 1400px){

    .dataPrivacy{
        left: 180px;
    }
}

@media screen and (max-width: 1300px){

    .dataPrivacy{
        left: 80px;
    }
}

@media screen and (max-width: 1200px){
    .checkboxContainer{
        width: 100vw;
    }


    .dataPrivacy{
        left: 50px;
    }
}

@media screen and (max-width: 1000px){
    .checkboxContainer{
        width: 100vw;
    }

    .dataPrivacy{
        left: 20px;
    }
}





.formContainer button{
    border: none;
    margin: 20px;
    width: 300px;
    height: 50px;
    font-size: 1.2rem;
    color: hsla(16, 79%, 50%, 1);
    font-weight: bolder;
    box-shadow: 0px 3px 1px hsla(16, 79%, 50%, 1);
    border-radius: 4px;
}

.formContainer button:hover{
    transition: 0.4s ease;
    cursor: pointer;
    background-color: hsla(16, 79%, 50%, 1);
    box-shadow: 0px 3px 1px white;
    color: white;
    font-size: 1.25rem;
   
}

@media screen and (max-width: 1400px){

    .formContainer{
        transition: 0.5s ease;
        width: 80vw;
    }

    .contactContainer p{
        width: 80vw;
        transition: 0.5s ease;
        line-height: 28px;
        margin: 30px;
    }
}

@media screen and (max-width: 800px){
    .contactContainer p{
        font-size: 0.9rem;
    }
}