.sectionContainer{
    background-color:  rgba(225,166,173, 0.4);
    border: 2px solid rgba(225,166,173, 0.4);

}

.myWorkContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin-top: 12vh;
    padding: 10px;
    overflow-x: hidden;
}




.myWorkTitle{
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: clamp(1.8rem, 2.6vw, 2rem);
    color: #89CFF0;
}


.myWorkSubtitle{
    text-align: justify;
    width: 90vw;
    line-height: 30px;
    padding: 15px 0px; 
}




.fieldA, .fieldB{
    display: flex;
    width: 100vw;
}

.text{
    width: 50%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.text ul{
    text-align:justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    width: 90%;
}




.text p, .text ul li{
    transition: 0.4s ease;
    width: 90%;
    font-size: 1.1rem;
    text-align:justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 30px;
}





.text h1{
    color: #89CFF0;
    margin-top: 50px;
}

.imgContainer{
    width: 50%;
    overflow: auto;
}


.firstImage, .secondImage, .thirdImage, .fourthImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease;
}




.contactLinkInfo{
    text-align: center;
}

.contactLink{
    color: #89CFF0;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: -10px;
    margin-bottom: 20px;
    transition: 0.5s ease;
    margin-top: 10px;
}

.contactLink:hover{
    color: darkblue;
}









@media only screen and (max-width: 1300px){

   .fieldA{
       flex-direction: column;
   }

   .fieldB{
       flex-direction: column-reverse;
   }

   .imgContainer{
       width: 100vw;
   }
  
 


   .text{
       width: 100vw;

   }

  

   .text ul{
    width: 75%;
    position: relative;
    left: -15px;
   }

 
}




@media only screen and (max-width: 800px){

    .myWorkSubtitle{
        top: -10px;
    }



}

@media only screen and (max-width: 600px){

 

    .myWorkSubtitle{
        text-align: left;
    }

    .text p{
       width: 90%;
       text-align: left;
    }

   .text ul li{
       width: 100%;
       text-align: left;
   }
}





@media only screen and (max-width: 500px){

     .firstImage, .secondImage, .thirdImage, .fourthImage{
       height: 500px;
    }

    

  
}





@media only screen and (max-width: 300px){

   .myWorkTitle{
        min-height: 15vh;
   }

}



